@model List<Repository.Sorteios>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Resultados</div>
        <div class="panel-body">
            <div class="table">
                <div class="trow header">
                    <div class="cell">
                        Numero do sorteio
                    </div>
                    <div class="cell">
                        Data do sorteio
                    </div>
                    <div class="cell">
                        Premio
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="trow">
                        <div class="cell" data-title="Numero do sorteio">
                            @item.NumeroSorteioExibicao
                        </div>
                        <div class="cell" data-title="Data do sorteio">
                            @item.DataSorteio.ToShortDateString() às @item.DataSorteio.ToShortTimeString()
                        </div>
                        <div class="cell" data-title="Premio">
                            @item.ValorPremio
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
