/* General sizing */
ul.dropdown-lr {
    width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
    .dropdown-lr h3 {
        color: #eee;
    }

    .dropdown-lr label {
        color: #eee;
    }
}

@media screen and (max-width: 580px) {
    body {
        font-size: 16px;
        line-height: 22px;
    }
}

.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}

@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
}

.trow {
    display: table-row;
    background: #f6f6f6;
}

    .trow:nth-of-type(odd) {
        background: #e9e9e9;
    }

    .trow.header {
        font-weight: 900;
        color: #ffffff;
        background: #2980b9;
    }

    .trow.green {
        background: #27ae60;
    }

    .trow.blue {
        background: #2980b9;
    }

@media screen and (max-width: 580px) {
    .trow {
        padding: 14px 0 7px;
        display: block;
    }

        .trow.header {
            padding: 0;
            height: 6px;
        }

            .trow.header .cell {
                display: none;
            }

        .trow .cell {
            margin-bottom: 10px;
        }

            .trow .cell:before {
                margin-bottom: 3px;
                content: attr(data-title);
                min-width: 98px;
                font-size: 10px;
                line-height: 10px;
                font-weight: bold;
                text-transform: uppercase;
                color: #969696;
                display: block;
            }
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}

@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 16px;
        display: block;
    }
}

